#map {
    width: 100%;
    height: 100%;
    //border-radius: 1rem;
}

.map-container {
    width: 40rem;
    height: 40rem;
    border: 2px solid black;
    margin: 0 auto;
    border-radius: 1rem;
    overflow: hidden;
}
