@use '@/src/styles/scss/variables' as *;
@use '@/src/styles/scss/mixins' as *;

#map {
    width: 100%;
    height: 100%;
}

.map-container {
    height: 40vh;
    width: 100%;
    /*height: 40rem;*/
    border: 2px solid $border;
    margin: clamp(0.5rem, 2vw, 2rem) auto;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 2 2px 4px rgba(0, 0, 0, 0.1);

    @include sm {
        width: 80%;
        height: 50vh;
    }

}
