@use '@/src/styles/scss/variables' as *;

.review {
    &__card {
        border-radius: 0.75rem;
        padding: 1.25rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
        height: 100%;
        background-color: white;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 0.75rem;
    }

    &__author {
        display: flex;
        gap: 0.75rem;
        align-items: center;
    }

    &__author-name {
        font-weight: 600;
    }

    &__date {
        font-size: 0.875rem;
        opacity: 0.7;
    }

    &__rating {
        font-size: 1rem;
        white-space: nowrap;
        color: $primary;
    }

    &__text {
        font-size: 0.95rem;
        line-height: 1.4;
    }
}
