@use '@/src/styles/scss/variables' as *;
@use '@/src/styles/scss/mixins' as *;

nav.subnav {
    position: sticky;
    width: 100vw;
    max-width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 56px;
    z-index: 900;
    background: $background;
    border-bottom: 1px solid #e9e9e9;
}

.subnav {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
        padding: 0.5rem 16px;
        margin: 0;
        list-style: none;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    &__link {
        @include btn;
        padding: 0.5rem 0.75rem;

        &[aria-current='true'] {
            font-weight: 600;
            background-color: $primary;
            color: $cream;
        }
    }
}

/* .subnav__link {
    display: block;
    padding: 0.5rem 0.75rem;
    border-radius: 999px;
    text-decoration: none;
    color: #1a1a1a;
    border: 1px solid transparent;
    white-space: nowrap;
    &:focus-visible {
        outline: 2px solid $accent;
        outline-offset: 2px;
    }
    &[aria-current='true'] {
        font-weight: 600;
        border-color: $accent;
        color: $accent;
    }
} */
