@use '@/src/styles/scss/variables' as *;

#mentions-legales {
    .important {
        background-color: $primary;
        color: $background;
        border-radius: 10px;
        padding: 1rem;
        margin: 1rem 0;
    }
    ul {
        padding-left: 1.8rem;
    }
}
