@use '@/src/styles/scss/mixins' as *;

main.produits {
    margin-top: calc(57px + 5rem);
}

#fromages, #charcuterie, #epicerie {
    scroll-margin-top: calc(57px + 115px); //header + subnav

    @include lg {
        scroll-margin-top: calc(57px + 75px); //header + subnav
    }
}