@use '@/src/styles/scss/mixins' as *;
@use '@/src/styles/scss/variables' as *;

main.produits {
    margin-top: calc(57px + 5rem);
}

#fromages,
#charcuterie,
#epicerie {
    scroll-margin-top: calc(57px + 115px); //header + subnav

    @include lg {
        scroll-margin-top: calc(57px + 75px); //header + subnav
    }
}

#fromages {
    h3 {
        font-family: var(--font-playfair);
    }

    .cta {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

#epicerie,
#charcuterie {
    .content-with-image {
        display: grid;
        grid-template-columns: 1fr;
        gap: clamp(1rem, 2vw, 3rem);
        //align-items: start;
        align-items: center;

        @include md {
            grid-template-columns: 1fr 1fr;
        }

        .image {
            position: relative;
            min-height: clamp(13.75rem, 11.989rem + 7.51vw, 18.75rem);
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);

            img {
                object-fit: cover;
            }
        }
    }
}
