@use '@/src/styles/scss/mixins' as *;
@use '@/src/styles/scss/variables' as *;

main.produits {
    margin-top: calc(57px + 5rem);
}

#fromages,
#charcuterie,
#epicerie {
    scroll-margin-top: calc(57px + 115px); //header + subnav

    @include lg {
        scroll-margin-top: calc(57px + 75px); //header + subnav
    }
}

#fromages {
    h3 {
        font-family: var(--font-playfair);
    }

    .cta {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}



#charcuterie {
    .content-with-image {
        @include sm {
            p {
                text-align: justify;
            }
        }
        .image {
            position: relative;
            min-height: clamp(13.75rem, 11.989rem + 7.51vw, 18.75rem);
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 0.5rem;

            @include sm {
                float: right;
                width: 50%;
                top: 0;
                margin-left: 1rem;
                margin-bottom: 0;

            }

            img {
                object-fit: cover;
            }
        }
    }
}
