@use '@/src/styles/scss/variables' as *;

.react-aria-Disclosure {
    width: 100%;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    border-right: 1px solid $primary;
    border-left: 1px solid $primary;
    border-bottom: 1px solid $primary;

    &:first-child {
        border-top: 1px solid $primary;
    }

    .react-aria-Button[slot='trigger'] {
        /*     background: none;
    border: none;
    box-shadow: none;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    //align-items: first baseline;
    gap: 8px;
    padding: 8px 0; */
        display: flex;
        align-items: center;
        width: 100%;
        //border: 1px solid $primary;
        background: none;
        gap: 8px;

        &:last-child {
            text-align: left;
            font-size: clamp(1.2rem, 1.171rem + 0.123vw, 1.25rem);
            font-weight: 500;
        }

        svg {
            rotate: 0deg;
            transition: rotate 200ms;
            fill: $primary;
            //stroke: currentColor;
            stroke-width: 3px;
        }
    }

    &[data-expanded] .react-aria-Button[slot='trigger'] svg {
        rotate: 90deg;
    }
}

.react-aria-DisclosurePanel {
    margin-left: 26px;
    height: var(--disclosure-panel-height);
    transition: height 250ms;
    text-align: left;
    overflow: clip;

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }
}
