@use '@/src/styles/scss/variables' as *;

.react-aria-Disclosure {
    width: 100%;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    border-right: 1px solid $primary;
    border-left: 1px solid $primary;
    border-bottom: 1px solid $primary;

    &:first-child {
        border-top: 1px solid $primary;
    }

    .react-aria-Button[slot='trigger'] {
        display: flex;
        width: 100%;
        background: none;
        gap: 8px;

        svg {
            width: 25px;
            height: 25px;
            flex-shrink: 0;
            rotate: 0deg;
            transition: rotate 200ms;
            fill: $primary;
        }
    }

    &[data-expanded] .react-aria-Button[slot='trigger'] svg {
        rotate: 90deg;
    }
}

.faq-question {
    text-align: left;
    font-size: clamp(1.2rem, 1.171rem + 0.123vw, 1.25rem);
    font-weight: 450;
    line-height: 1.2; // ou plus petit en mobile
    align-self: center;
}

.react-aria-DisclosurePanel {
    margin-left: 33px;
    transition: height 250ms;
    text-align: left;
    overflow: clip;

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }
}
