@use '@/src/styles/scss/variables' as *;
@use '@/src/styles/scss/mixins' as *;


.specialites {
&__card {
        position: relative;
        display: block;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid black;
        grid-template-rows: auto 1fr;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border: 1px solid $border;
        //background: var(--card);
        //border: 1px solid var(--border);
        //transition: border-color 0.16s ease, transform 0.16s ease, box-shadow 0.16s ease;
        &--wide {
            @include sm {
                grid-column: span 6;
            }
        }
        &--medium {
            @include sm {
                grid-column: span 4;
            }
        }
    }
    &__image {
        //aspect-ratio: 16/9;
        block-size: clamp(160px, 22vw, 280px);
        display: grid;
        align-content: start;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__content {
        min-block-size: clamp(90px, 10vw, 140px);
        padding: 0.5rem;
        background-color: white;
        p {
            line-height: 1;
        }
    }
}