@use '@/src/styles/scss/variables' as *;
@use '@/src/styles/scss/mixins' as *;


.specialites {
&__card {
        position: relative;
        //display: block;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: white;
        overflow: hidden;
        border: 1px solid black;
        grid-template-rows: auto 1fr;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border: 1px solid $border;
        //border: 1px solid var(--border);
        //transition: border-color 0.16s ease, transform 0.16s ease, box-shadow 0.16s ease;
        height: 100%;
        &--wide {
            @include sm {
                grid-column: span 6;
            }
        }
        &--medium {
            @include sm {
                grid-column: span 4;
            }
        }
    }
    &__image {
        //aspect-ratio: 16/9;
        height: 30vh;
        //block-size: clamp(160px, 22vw, 280px);
        display: grid;
        align-content: start;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__content {
        flex-grow: 1; 
        display: flex;
        flex-direction: column;
        gap:1rem;

        h3 {
            text-align: center;
        }
        //min-block-size: clamp(90px, 10vw, 140px);
        padding: 0.5rem;

        p {
            line-height: 1;
        }

        a {
            align-self: center;
            margin-top: auto;
            margin-bottom: 0.5rem;
            padding: 0.2rem 0.5rem;
            border: 1px solid $primary;
            border-radius: 5px;
            color: $primary;
            font-weight: 500;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
                background-color: $primary;
                color: $cream;
            }
        }


    }
}