@use '@/src/styles/scss/variables' as *;
@use '@/src/styles/scss/mixins' as *;
@use 'sass:color';

.btn-link {
    @include btn;
    padding: 0.5rem 1rem;
    color: $cream;
    background-color: $primary;
    border: 2px solid $primary;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: color.scale($primary, $alpha: -55%);
        color: white;
        font-weight: 700;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
    }
}
