@use '@/src/styles/scss/variables' as *;
@use '@/src/styles/scss/mixins' as *;

#formules-fondues {
    background-color: $cream;
}

#fondues {
    .recipe {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        @include sm {
            flex-direction: row;
        }

        img {
            border-radius: 50%;
            filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.25));
        }
    }
}
