@use '@/src/styles/scss/variables' as *;

/* .review {
    list-style: none;
    display: grid;
    gap: 1.5rem;
    padding: 0;
    margin: 2rem 0;

    @media (min-width: 768px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
} */



.swiper {
    //background-color: white;
    padding: 1.5rem 0.5rem 0 1.5rem;
    //border: 1px solid black;
}

.swiper-wrapper {
    display: flex;
    justify-content: left;
    align-items: top;
    margin-bottom: 3rem;
    //border: 1px solid red;
    z-index: 2;
}

.swiper-pagination-bullet {
    background-color: $primary;
}

.swiper-button-next,
.swiper-button-prev {
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    background-color: $primary;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    //backdrop-filter: blur(8px);
    //border: 1px solid rgba($primary, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    //color: inherit; // on ne se sert plus du texte

    .swiper-navigation-icon {
        display: none;
    }

    &::after {
        content: '';
        width: 1.3rem;
        height: 1.3rem;
        display: block;
        background-color: white;
        mask: url('/icons/next.svg') center/contain no-repeat;
        -webkit-mask: url('/icons/next.svg') center/contain no-repeat;
    }
}

.swiper-button-prev {
    &::after {
        transform: rotate(180deg);
    }
}
