@use '@/src/styles/scss/variables' as *;

.swiper {
    padding: 1.5rem 3.5rem 0 3.5rem; // 3.5rem ≈ 2.75rem (bouton) + petit espace
}

.swiper-wrapper {
    align-items: stretch;
    margin-bottom: 3rem;
}

.swiper-slide {
    display: flex;
    height: auto;
}

.swiper-pagination-bullet {
    background-color: $primary;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    z-index: 10; 
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    background-color: $primary;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;

    .swiper-navigation-icon {
        display: none;
    }

    &::after {
        content: '';
        width: 1.3rem;
        height: 1.3rem;
        display: block;
        background-color: white;
        mask: url('/icons/next.svg') center/contain no-repeat;
        -webkit-mask: url('/icons/next.svg') center/contain no-repeat;
    }
}

.swiper-button-prev {
    &::after {
        transform: rotate(180deg);
    }
}
