@use '@/src/styles/scss/variables' as *;
@use '@/src/styles/scss/mixins' as *;
@use 'sass:color';

#about {
    scroll-margin-top: 57px;
}

#histoire .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(1rem, 2vw, 3rem);
    align-items: start;

    @include md {
        grid-template-columns: 1.3fr 0.7fr;
    }
}

.histoire__image {
    position: relative;
    min-height: clamp(13.75rem, 11.989rem + 7.51vw, 18.75rem);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);

    img {
        object-fit: cover;
    }
}

#boutique {
    position: relative;

    .note {
        @include note;
    }
}

.boutique__images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: clamp(0.5rem, 1vw, 1rem);
    padding: 0.5rem 0;

    .card {
        position: relative;
        aspect-ratio: 1/1;
        border-radius: 10px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;

        img {
            object-fit: cover;
        }
    }
    .card-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
