@use '@/src/styles/scss/variables' as *;

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    background-color: $cream; // avec une opacité à 0.95
    border-bottom: 1px solid rgba(212, 175, 55, 0.1); // mettre foreground avec opacité 0.1

    .scrolled {
        background-color: $cream;// avec une opacité à 0.98
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); // revoir
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    max-width: $container-max-width;
    margin: 0 auto;

    ul {
        list-style-type: none;
    }

    .logo {
        padding-bottom: 4px;
        font-family: var(--font-playfair);
        font-size: 1.5rem;
        font-weight: 600;
        color: $primary;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: $secondary;
        }
    }
}
