//@use '@/src/styles/scss/variables' as *;
@use '@/src/styles/scss/mixins' as *;
@use '@/src/styles/scss/variables' as *;

#fromages-raclette {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: clamp(1rem, 2vw, 3rem);
        align-items: start;

        @include md {
            grid-template-columns: 1fr 1fr;
        }
    }
    ul {
        list-style-position: inside;
        margin-left: 2rem;
        li {
            line-height: 1.2;
            margin-bottom: 1rem;
        }
    }
    .image {
        position: relative;
        min-height: clamp(13.75rem, 11.989rem + 7.51vw, 18.75rem);
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);

        img {
            object-fit: cover;
        }
    }
}

#formules-raclette {
    background-color: $cream;
}

.formules {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 1rem;

    @include lg {
        grid-template-columns: 1fr 1fr;
    }
}

.raclettes article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    @include sm {
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
    }
    @include lg {
        width: 100%;
    }

    .content {
        position: relative;

        ul {
            list-style-position: inside;
            li {
                line-height: 1.2;
                margin-bottom: 0.5rem;
                //list-style-type: "🧀";
                padding-inline-start: 1ch;
                //list-style-image: url(/icons/next.svg);
                &::marker {
                    color: $primary;

                }
            }
        }

        p {
            text-align: center;
            font-style: italic;
        }
    }

    .price {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        width: 5rem;
        background-color: $background;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
    }
}
