@use '@/src/styles/scss/mixins' as *;
@use '@/src/styles/scss/variables' as *;

#fromages-raclette {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: clamp(1rem, 2vw, 3rem);
        align-items: start;

        @include md {
            grid-template-columns: 1fr 1fr;
        }
    }
    ul {
        list-style-position: inside;
        //list-style-type: "🧀";
        list-style-type: none;
        margin-left: 2rem;
        margin-top: 2rem;
        li {
            line-height: 1.2;
            margin-bottom: 1rem;
            &::before {
                content: '🧀';
                margin-right: 0.5rem;
            }
        }
    }
    .image {
        position: relative;
        min-height: clamp(13.75rem, 11.989rem + 7.51vw, 18.75rem);
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);

        img {
            object-fit: cover;
        }
    }
}

#formules-raclette {
    background-color: $cream;
}

.igp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @include sm {
        flex-direction: row;
    }

    img {
        border-radius: 50%;
        filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.25));
    }
}

