@use '@/src/styles/scss/mixins' as *;
@use '@/src/styles/scss/variables' as *;

.formules {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 1rem;

    @include lg {
        grid-template-columns: 1fr 1fr;
    }
}

.formula-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    @include sm {
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
    }
    @include lg {
        width: 100%;
    }

    .content {
        position: relative;
        text-align: center;

        @include sm {
            text-align: left;
        }

        h3 {
            font-size: clamp(1.2rem, 1.171rem + 0.123vw, 1.25rem);
        }

        ul {
            list-style-type: none;
            li {
                font-weight: 600;
            }
        }

        .info {
            font-style: italic;
        }
    }

    .price {
        flex-shrink: 0;
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        height: 5rem;
        width: 5rem;
        background-color: $background;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
    }
}
