@use '@/src/styles/scss/variables' as *;
@use '@/src/styles/scss/mixins' as *;

.specialites {
    &__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: clamp(0.5rem, 1vw, 1rem);

        @include sm {
            grid-template-columns: repeat(12, 1fr);
        }
    }
}
