@use '@/src/styles/scss/variables' as *;
@use '@/src/styles/scss/mixins' as *;

#specialites {
    background-color: $cream;

}

.specialites {
    &__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
                padding: 0.5rem 0;


        @include sm {
            grid-template-columns: repeat(12, 1fr);
        }
    }
}
