@use './variables' as *;

@mixin xs {
    @media (min-width: $breakpoint-xs) {
        @content;
    }
}

@mixin sm {
    @media (min-width: $breakpoint-sm) {
        @content;
    }
}

@mixin md {
    @media (min-width: $breakpoint-md) {
        @content;
    }
}

@mixin lg {
    @media (min-width: $breakpoint-lg) {
        @content;
    }
}

@mixin xl {
    @media (min-width: $breakpoint-xl) {
        @content;
    }
}

@mixin btn {
    display: inline-flex;
    align-items: center;
    /*     gap: var(--spacing-xs);
    padding: var(--spacing-sm) var(--spacing-lg); */
    font-weight: 500;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
}

@mixin note {
    width: fit-content;
    border: 1px solid $border;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    //border:thick double $secondary;
    border: 2px dotted $secondary;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    margin: 0.5rem;
    line-height: 1.2;
}
