/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

 @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

html,
body {
    max-width: 100vw;
    height: 100%; /* ou 100vh */
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;

    /*   color: var(--foreground);
  background: var(--background); */
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    flex: 1 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}


