@use './variables' as *;

@import 'leaflet/dist/leaflet.css';
@import 'leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css';

#root,
#__next {
    isolation: isolate;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

html,
body {
    max-width: 100vw;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh; // min-height because of use of motion.dev useScroll animations
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    color: $foreground;
    background: $background;
    font-family: var(--font-raleway), Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: clamp(1.2rem, 1.171rem + 0.123vw, 1.25rem);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    flex: 1 0 auto;
    margin-top: 57px;
    /*display: flex;
    flex-direction: column;*/
}

.container {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 1rem;
    @media screen and (min-width: $container-max-width) {
        padding: 1.5rem;
    }
}

a {
    color: inherit;
    text-decoration: none;
    font: inherit;
    cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1 {
    font-family: var(--font-playfair), 'Brush Script MT', 'Comic Sans MS',
        cursive;
    text-align: center;
    font-size: clamp(1.6rem, 1.369rem + 0.985vw, 2rem);
    text-wrap: balance;
    padding: 1rem;
}

h2 {
    font-size: clamp(1.3rem, 1.127rem + 0.739vw, 1.6rem);
    //color: hsla(0, 0%, 20%, 1);
    //margin-top: 1rem;
    width: max-content;
    margin-bottom: clamp(1.3rem, 1.127rem + 0.739vw, 1.6rem);
    &::after {
        content: '';
        display: block;
        width: 75%;
        height: 3px;
        margin: 0.3rem auto;
        background-color: $primary;
    }
}

h3 {
    font-size: clamp(1.25rem, 1.106rem + 0.616vw, 1.5rem);
    //color: hsla(0, 0%, 20%, 1);
    //margin-top: 0.5rem;
}

sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}*/

h1,
h2 {
    font-family: var(--font-playfair);
}

p {
    font-family: var(--font-raleway);
}
